
@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-bg {
    /* background-image: url('./loginpagebg.jpeg'); */
    background-image: url('./loginpage2.jpeg');
}


.custom-bg-translucent {
    background: rgba(255, 255, 255, 0.70);
}

.yoo {
    color : #c1491e;
    color: #c01919;
    background: "linear-gradient(to right, #a68fd437, #7fb49634, #6bc6da4c)"
}